/* Confirm Dialog */

@import "./styles/adapta-nokto.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"Iosevka Nerd Font 18";
}

window {
    width:      			540px;
    padding:    			38px;
    border:					0px;
    border-radius:          18px;
    border-color:           @accent;
    location:               center;
    y-offset:               -20px;
}

entry {
    expand: 				true;
    text-color:				@accent;
}
